/*Color Palette
 * Black - #2f292b
 * Blue - #707f9c
 * Green - #6d6324
 * Tan - #eae8ec
 * 
 * */

@media screen {
    body {
        background-color: #eae8ec;
    }

    h1 {
        font-family: "Rye", serif;
        color:#707f9c;
        margin: 80px 40px 10px 40px;
        text-align: center;
        line-height:1em;
    }

    #topper2 {
        background-image: url(00circustown-jtcm-superJumbo.jpg);
        background-size: cover;
        background-size: cover;
        background-position: 25% 25%;
    }

    #topper {
        background-color: #eae8ec;
    }

    #halfimage {
        /*object-fit: cover;*/
        /*height:100vh*/
        height: 800px;
    }

    #leadimage {
        margin: 0px;
        padding: 0px;
    }

    p {
        font-family: "Radley", serif;
        color:#2f292b;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 60px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 80px;
    }
}
