/*Color Palette
 * Black - #2f292b
 * Blue - #707f9c
 * Green - #6d6324
 * Tan - #eae8ec
 * 
 * */

@media screen {
    body {
        background-color: #eae8ec;
    }

    h1 {
        font-family: "Rye", serif;
        color: #707f9c;
        margin: 80px 40px 400px 40px;
        text-align: center;
        line-height: 1em;
    }

    #topper2 {
        background-image: url(00circustown-jtcm-superJumbo.jpg);
        background-size: cover;
        background-position: 25% 25%;
        height: 100vh;
    }

    #topper {
        background-color: #eae8ec;
    }

    #halfimage {
        /*object-fit: cover;*/
        /*height:100vh*/
        height: 800px;
    }

    #leadimage {
        margin: 0px;
        padding: 0px;
    }

    p {
        font-family: "Radley", serif;
        color: #2f292b;
        font-size: 18px;
    }

    .storytext {
        padding: 0px 10px 0px 10px;
    }

    .inline-image {
        width: 100%;
    }

    .disclaimer {
        font-style: italic;
    }

    a {
        color: #6d6324;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }

    .pullquote {
        /*margin: 0px 0px 0px 60px;*/
        border-top: 3px solid #707f9c;
        width: 60%;
        padding: 20px 0px 0px 0px;
        margin: auto;
    }

    .quotemark {
        font-size: 150px;
        font-family: "Radley", serif;
        line-height: 0em;
        float: left;
        padding: 50px 0px 0px 0px;
    }

    .quote {
        font-size: 50px;
        line-height: 1.2em;
        padding: 0px 0px 0px 20px;
    }

    .name {
        padding: 0px 0px 0px 20px;
    }

    #content {
        padding: 0px;
    }

    .whitebackground {
        background-color: white;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 60px;
    }

    .storytext {
        padding: 0px 40px 0px 40px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 80px;
    }

    .storytext {
        padding: 0px 100px 0px 100px;
    }
}

@media (min-width: 992px) {
    .storytext {
        padding: 0px 200px 0px 200px;
    }
}

@media (min-width: 1200px) {
    .storytext {
        padding: 0px 400px 0px 400px;
    }
}