@media {
    h1 {
        color: #322214;
        font-family: "STIX Two Text", serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 50px;
        margin-top: 10px;
        margin-left: 40px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 100px;
    }
}
