/*
MY COLOR PALETTE
Color 1 - #EBE9E9
Color 2 - #F3F8F2
Color 3 - #3581B8
Color 4 - #FCB07E
Color 5 - #DEE2D6
*/

body {
    background-color: #EBE9E9;
    text-align: center;
}
button {
    background-color: #f3f8f2;
    color: #3581b8;
    font-family: "Poppins", serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    width: 200px;
    padding: 10px;
    margin-top: 40px;
    border: none;
}
button:hover {
    background-color: #dee2d6;
}
h1 {
    font-family: "Sigmar", serif;
    color: #fcb07e;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 100;
    line-height: 1.2;
}
h2 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 30px;
    color: #dee2d6;
    text-transform: lowercase;
    line-height: 1;
}
