@media screen {
    h1 {
        font-family: Georgia, serif;
        text-align: center;
    }

    #description {
        color: red;
    }

    .caption {
        color: gray;
    }

    .bold {
        font-weight: bold;
    }

    button {
        padding: 20px 50px 20px 50px;
        margin: 20px auto 20px auto;
        display: block;
    }
    
    img {
        width:100%
    }
    
    .thumbnail {
        width:200px;
        float:right;
        margin:0px 0px 0px 20px;
    }
    
    #footer {
        background-color:black;
        color:white;
        position:fixed;
        top:0px;
    }
}

@media (min-width:576px) {
    h1 {
        font-size:100px;
    }
}
